:root{
    /*  PALETA DE COLORES  */
    --blanco: #ffffff;
    --negro: #212121;
    --amarillo: #ffc107;
    --azul: #0097a7;
    --gris: #757575;
    --azulOscuro: #095580;

}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size:  2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1,h2,h3{
    text-align: center;
}

.titulo {
    text-align: center;
    color: var(--negro);
    font-weight: 400;
 
}

.subti{
    font-size: 2.2rem;
}
.contenedor{
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

.boton{
    background-color: var(--azul);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
    
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(128,126,128,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(128,126,128,1);
    box-shadow: 0px 5px 15px 0px rgba(128,126,128,1);
    background-color: var(--blanco);
    padding: 2rem;
    margin-left: 40rem;
}

.nav-bg{
    background-color: var(--azul);
   
}
.navegacion a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    display: block;
    text-align: center;
}
.navegacion {
    display: flex;
    flex-direction: column;
    
}

.navegacion a:hover{
    background-color: var(--azulOscuro);
    
}
@media (min-width: 768px) {
    .navegacion{
        flex-direction: row;
        justify-content: space-between;
    }
}

.rocket {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-rocket {
    position: absolute;
    background-color: rgba(0, 0,0, .6);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-rocket h2, .contenido-rocket p {
    color: var(--blanco)

}

.comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.usuario{
    position: absolute;
    top: 60rem;
    left: 40rem;

    }

.ofertas{
    width: 70%;
    height: 400px;
    background: var(--blanco);
    margin-left: 400px;
    display: block;
    text-decoration: none;
    box-shadow: 2px 2px 11px 0 rgb(0 0 0);
}
.ofertas .titulo{
    text-align: center;
    color: var(--negro);
    font-weight: 400;
}
.ofertas li{
    display: block;
    text-decoration: none;
    margin: 15px;
}
.ofertas li a {
    float: left;
    text-align: center;
    text-decoration: none;
    width: 31%;
    height: 300px;
    background-color: var(--azulOscuro);
    margin: 5px 5px 10px 10px;
}
.ofertas li a:hover {
    background-color: var(--azul);
    
}
.ofertas li a .titulo {
    color: #ffffff;
    
}
.ofertas li a span {
    color: #ffffff;  
}
.ofertas li a img {
    width: 300px;
    margin: 5px;

}

.contacto {
    margin-left: 40rem;
}